.Main {
    width: 100%;
    min-height: 100%; 
  
    display: flex;
    align-items: center;
    flex-direction: column;
  
    padding: 0 30px 0 30px;
  
    .cardArea {
      width: 100%;
      max-width: 1200px; // Limitar a largura máxima para telas grandes
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap; // Permitir quebra de linha em telas menores
      gap: 10px; // Espaço entre os cartões
      margin-bottom: 10px; // Espaço abaixo dos cartões
  
      div {
        cursor: pointer;
        flex: 1 1 300px; // Flexível com largura mínima
        max-width: 250px;
        min-height: 150px;
        font-size: 0.9em;
  
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
  
        border-radius: 8px; // Bordas mais suaves
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra para destaque
        transition: transform 0.3s; // Animação para hover
  
        &.red {
          background-color: #da251d;
          color: #fff; // Texto branco para melhor contraste
        }
  
        &.green {
          background-color: #00923f;
          color: #fff;
        }
  
        &.blue {
          background-color: #0093dd;
          color: #fff;
        }
  
        h1,
        h2 {
          font-weight: lighter;
        }
      }
    }
  
    button {
      padding: 10px 20px; // Mais espaço interno para o botão
      border: none;
      background-color: #dfea4a;
      color: #333; // Cor do texto para contraste
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s; // Animação para hover
  
      &:hover {
        background-color: #c8d13f; // Cor mais escura no hover
      }
    }
  }