.Main{
    width: 100%;
    max-width: 500px;


    h1{
        color: #0093dd;
        font-weight: lighter;
        letter-spacing: 1.5px;
    }

    form{
        margin-top: 5px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;

        div{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            margin-top: 5px;

            div{
                width: 100%;
                display: flex;
                flex-direction: row;
                input{
                    width: 70%;
                }

                button{
                    width: 30%;
                    margin-left: 5px;
                    background-color: red;
                }
            }

            label{
                letter-spacing: 1.5px;
            }

            input, select{
                padding: 5px;
                border: 1px solid #efeeee;
                background-color: #fff;
                color: #000;
                border-radius: 5px;
                margin: 3px 0 3px 0;
            }

            .inputPassword{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border: 1px solid #efeeee;

                input{
                    width: 90%;
                    border: none;
                }

                svg{
                    width: 10%;
                    cursor: pointer;
                }
            }
        }

        button{
            background-color: #8e84b7;
            padding: 3px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            margin: 3px 0 3px 0;
        }

        .buttons{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            button, a{
                width: 40%;
                text-align: center;
                cursor: pointer;
                padding: 8px;
                border: none;
                border-radius: 5px;
                color: #fff;
                font-size: 1em;
                margin-top: 3px;
            }
        }
    }
}

@media(max-width: 1100px){
    .Main{
        form{
            div{
                width: 100%;
            }

            .buttons{
                width: 100%;
            }
        }
    }
}